/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

/*
COLORS
H1, Get answer button, text in input field: #2B4E80;
Get answer button disabled: #607AA0;
Get answer button hover: #1C3455;
light blue background: #E6ECF4;
clear button: #DE4841;
clear button disabled: #D0CDCD
*/

/** {
	border: 1px dotted red;
}*/

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 790px;
/*	display: flex;
	justify-content: center;*/
	text-align: center;
	font-family: 'Open Sans', sans-serif; 
}

h1 {
	margin: 3%;
	color: #2B4E80;
}

.main__container {
	width: 75%;
	height: 55%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.main__left--section {
	width: 50%;
	height: 100%;
	float: left;
	background: #E6ECF4;
	float: left;
	padding: 15px;
}

#main__input {
	font-size: 18px;
}

.input__size {
	width: 100%;
	height: 35px;
	border-radius: 3px;
	border: none;
	padding-left: 10px;
	font-size: 18px;
}

#main__button {
	background: #2B4E80;
	color: #ffffff;
	margin-top: 10px;
	font-size: 18px;
/*	border: 1px solid red;*/
}

.main__clear--button {
	width: 25%;
	height: 35px;
	background: #D0CDCD;
	float: right;
}

.active__button {
	background: #DE4841;
}

.main__clear--button:hover {
	background: #DE4841;
}

.eight__ball {
	width: 35%;
	height: 35%;
	background-image: url('assets/eight-ball.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin: 8% auto;
}

.main__right--section {
	width: 50%;
	height: 100%;
	float: right;
	background-image: url('assets/woody.png');
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 10px;
}

.js__question {
	margin: 20px 0;
	font-style: italic;
	font-size: 18px;
}

.js__answer {
	margin: 10px 0;
	font-weight: bold;
	font-size: 26px;
}


